# Firebase
FIREBASE_PROJECT_ID=ic7602-p2-79108
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json

# Zonal Cache
CACHE_MAX_SIZE_BYTES=104857600
CACHE_POLICY=LRU
CACHE_TTL_SECONDS=3600

# Node API
NODE_API_URL=https://2026-01-ic-7602.vercel.app
JWT_SECRET=change-me

GEOIP_PATH=./geoip/dbip-country-lite.mmdb