VITE_API_URL=https://2026-01-ic-7602.vercel.app/api
VITE_FIREBASE_API_KEY=AIzaSyB5RqmS3TwE9QR-KqDlsxM2uaSLQBWBSjs
VITE_FIREBASE_AUTH_DOMAIN=ic7602-p2-79108.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ic7602-p2-79108
VITE_FIREBASE_APP_ID=1:461814430904:web:1275a1b5bb2aa4cc52084d